@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
    @apply bg-white text-slate-800 dark:bg-gray-950 dark:text-white text-sm font-poppins antialiased;
}

button {
    @apply cursor-pointer;
}